<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="VTSAdminDB" connectionString="Provider=SQLOLEDB.1;Data Source=202.146.133.67;Initial Catalog=VTS_Admin;User ID=sa;Password=easygotracking;" />
    <add name="VTSADMIN" connectionString="Data Source=202.146.133.67;Initial Catalog=VTS_Admin;User ID=sa;Password=easygotracking;" providerName="System.Data.SqlClient" />
    <add name="GPSBDB" connectionString="Provider=SQLOLEDB.1;Data Source=202.146.133.67;Initial Catalog=GPSB;User ID=sa;Password=easygotracking;" />
    <add name="GPSBDBClient" connectionString="Server=202.146.133.67;Database=GPSB;User ID=sa;Password=easygotracking;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="MongoGPSA" connectionString="mongodb://admin:Kudalangit13$2@149.129.215.249:27017,149.129.221.231:27017,202.146.133.68:27017,202.146.133.60:27017/?connect=replicaSet;readpreference=secondaryPreferred" />
    <add name="MongoGPSDATA" connectionString="mongodb://frans:js0nh0k1@202.146.133.82:27017,202.146.133.83:27017/?replicaSet=rsEasyGO" />
    <add name="JURNALDB" connectionString="Server=192.168.29.21;Database=Jurnal;User ID=sa;Password=sapasswd1!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FMSSecretKey" value="FMS_2024_XYZq8F93bN1A5k7W3mPqJ2R5zL9D1H2" />
	<add key="JurnalClientId" value="hDnMq5eNMI3qcm5s" />
    <add key="JurnalClientSecret" value="hHTqCAze4GHbKsIlQLqUXK4mMhX3yBAL" />
	<add key="JurnalApiBaseUrl" value="https://api.mekari.com" />
	<add key="HttpTimeoutSeconds" value="60" />
    <add key="ItsSupportTelegramApiToken" value="8935036274:AAGw65AiDy4ts54d2PX_7rFSK2PgFgHmm4M" />
    <add key="ItsSupportTelegramChatId" value="-5072606653" />
    <add key="ItsSupportTelegramSetupKey" value="itssetup" />
    <add key="ItsSupportTelegramWebhookUrl" value="https://vtsadmin.easygo-gps.co.id/telegram_itsupport_bot.ashx" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <browserCaps>
      <result type="System.Web.Mobile.MobileCapabilities, System.Web.Mobile, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <filter>isMobileDevice=false</filter>
    </browserCaps>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="5048576" executionTimeout="3600" />
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <sessionState timeout="600" />
        <authentication mode="Forms" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="telegram_itsupport_bot.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
</configuration>